/* Style */
@font-face {
  font-family: Cardo;
  src: url("./font/CrimsonText-Regular.ttf") format("opentype");
}
@font-face {
  font-family: Montserrat;
  src: url("./font/Montserrat-VariableFont_wght.ttf") format("opentype");
}
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  background-color: rgb(0, 0, 23);
}
a,
ul {
  text-decoration: none;
  color: inherit;
}
.scrollbar-hide {
  /* Firefox */
  scrollbar-width: none;

  /* IE et Edge */
  -ms-overflow-style: none;
}
/* Chrome, Safari et Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
button,
.beige-button,
.content-button,
.send,
.portfolio-button,
.grid-button,
.language-content,
.language-selector-text,
.nav-links .links,
.nav-links-footer li,
.social-links a,
.project-text,
.alternate-img,
.skills-img,
.hamburger-menu,
.close,
.grid,
.skills a,
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input,
textarea {
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.8) !important;
  box-shadow: 0 0 0 30px white inset !important;
  background-color: white !important;
}

input:-moz-autofill,
input:-moz-autofill:hover,
input:-moz-autofill:focus {
  background-color: white !important;
  color: rgba(0, 0, 0, 0.8) !important;
}
