/* Style */
@font-face {
  font-family: Cardo;
  src: url("./font/CrimsonText-Regular.ttf") format("opentype");
}
@font-face {
  font-family: Montserrat;
  src: url("./font/Montserrat-VariableFont_wght.ttf") format("opentype");
}
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
footer {
  padding-bottom: env(safe-area-inset-bottom);
}
@supports (padding-bottom: constant(safe-area-inset-bottom)) {
  body,
  footer {
    padding-bottom: constant(safe-area-inset-bottom);
  }
}
a,
ul {
  text-decoration: none;
  color: inherit;
}
.scrollbar-hide {
  /* Firefox */
  scrollbar-width: none;

  /* IE et Edge */
  -ms-overflow-style: none;
}
/* Chrome, Safari et Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
